body {
    font-family: "Fredoka", sans-serif;
    font-size: 25px;
    text-align: center;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.inbody {
    margin-top: 10%;
}

.w3-btn {
    font-family: "Fredoka", sans-serif;
    font-size: 25px;
    background-color: darkorange;
    color: white;
    border-radius: 10px;
    border-color: none;
    padding: 8px 10px 10px 10px;
    text-decoration: none;
}

.w3-btn:hover {
    background-color: #dddddd;
    color: black;
}

/* .text{
            color: black;
        } */

.btn {
    text-align: center;
    margin-top: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* background-color: #dddddd; */
    /* comment this line, the nav bar will disappeer */
    overflow: hidden;
    border-radius: 10px;
}

li {
    display: inline;
    float: left;
    border-radius: 10px;
}

a {
    padding: 8px;
    background-color: transparent;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li :hover {
    background-color: darkorange;
    color: white;
}
#pic2, #pic3, #pic4, #pic5, #pic6, #pic7, #pic8{
    border-radius: 15px;
    padding: 0px; 
    width: 192px;
    height: 120px;  
  }