body {
    font-family: "Fredoka", sans-serif;
    font-size: 25px;
    text-align: center;
   /* background-image: url("image.jpg");
    */
    background-color: #dddddd;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 5px;
}
.website-counter {
    font-size: x-small;
}
.back {
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 150px;
    margin-left: 25px;
    padding: 5px 5px 30px 5px;
    border-radius: 15px;
    background-color: rgb(220, 88, 42, 0.3);
}
.back2 {
    margin: 25px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: rgb(220, 88, 42, 0.3);
}
.w3-btn {
    font-family: "Fredoka", sans-serif;
    font-size: 25px;
    background-color: darkorange;
    color: white;
    border-radius: 10px;
    border-color: none;
    padding: 8px 10px 10px 10px;
    text-decoration: none;
}
.w3-btn:hover {
    background-color: #dddddd;
    color: black;
}
/* .text{
    color: black;
}
*/
.btn {
    text-align: center;
    margin-top: 5%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   /* background-color: #dddddd;
    */
   /* comment this line, the nav bar will disappeer */
    overflow: hidden;
    border-radius: 10px;
}
li {
    float: left;
    border-radius: 10%;
}
#navbar{
    background-color: #dddddd   ;
    top:0px;
    margin: 0;
   padding: 0;
    list-style-type: none;
    overflow:auto;
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.3s;
   /* display: none;
    */
}
li a {
    color: black;
   /* display: inline-block;
    */
    display: inline-flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}
.vireak {
    border-radius: 10px;
    display: block;
    color: black;
}
.vireak :hover {
    background-color: darkorange;
    color: white;
}
.school {
    display: contents;
    color: black;
    text-decoration: none;
}
li :hover {
    background-color: darkorange;
    color: white;
}
#pic2, #pic3, #pic4, #pic5, #pic6, #pic7, #pic8 {
    border-radius: 15px;
    padding: 0px;
    width: 192px;
    height: 120px;
}
/* h3 :hover {
    background-color: darkorange;
    color: white;
}
*/
.imageofme {
    width: 100%;
}
.column {
    width: 100%;
}
@media screen and (max-width: 750px) {
    #me {
        float: none;
        width: 100%;
        font-size: smaller;
   }
    img{
        width: 50%;
        margin-left: none;
        margin-right: auto;
        padding: none;
   }
    .imageofme{
        width: 50%;
   }
    .w3-btn{
        width: 50%;
        padding:4px 5px 5px 5px;
        font-size: 15px;
   }
}
